<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/tether/1.4.0/js/tether.min.js"
            th:src="@{/webjars/tether/1.4.0/js/tether.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" defer="defer"></script>

    <link rel="stylesheet"
          src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="/css/backend.css"/>
</head>
<body>

<div th:replace="backend/fragments/navigation :: navigation-full"></div>

<div class="container">
    <ol class="breadcrumb">
        <li><a th:href="@{|/backend|}">Jeopardy</a></li>
        <li><a th:href="@{|/backend/game/${game.id}|}" th:text="${game.id}"></a></li>
        <li class="active" th:text="@{|Field ${field.col},${field.row}|}"/>
    </ol>

    <form method="post"
          th:action="@{|/backend/game/${game.id}/field/${field.col}/${field.row}|}"
          class="container col-sm-12 form-horizontal">
        <div class="form-group">
            <div class="btn-group btn-group-lg" data-toggle="buttons">
                <label class="btn btn-primary btn-warning active">
                    <input type="radio" name="player" value="" autocomplete="off" checked="checked"/>None
                </label>
                <label class="btn btn-primary" th:each="player : ${game.players}">
                    <input type="radio" name="player" th:value="${game.id}" autocomplete="off"/>
                    <span th:text="${player.name}" th:remove="tag"/>
                </label>
            </div>
        </div>

        <div class="form-group input-group-lg"
             th:classappend="${field.bonus} ? input-group : ''">

            <label class="input-group-addon" th:if="${field.bonus}">Daily Double</label>
            <input type="number" step="100"
                   name="points" class="form-control"
                   th:value="${field.row*100}"
                   th:placeholder="${field.row*100}"
                   th:aria-describedby="@{|label${player.id}|}"
                   th:readonly="${!field.bonus}"/>
        </div>

        <div class="form-group">
            <img class="col-sm-8 col-offset-2"
                 th:src="@{|/resource/${game.id}/${#strings.substring(field.question,6)}|}"
                 th:if="${#strings.startsWith(field.question, 'image:')}"/>
            <div th:text="${field.question}"
                 th:unless="${#strings.startsWith(field.question, 'image:')}"/>
        </div>

        <div class="form-group">
            <div class="col-sm-12 well well-sm" th:text="${field.answer}"/>
        </div>

        <div class="form-group btn-group-lg">
            <input type="submit" name="answer" value="Correct" class="btn btn-success"/>
            <input type="submit" name="answer" value="Wrong" class="btn btn-danger"/>
        </div>
    </form>
</div>
</body>
</html>
