<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/tether/1.4.0/js/tether.min.js"
            th:src="@{/webjars/tether/1.4.0/js/tether.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" defer="defer"></script>

    <link rel="stylesheet"
          src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="/css/backend.css"/>
</head>
<body>

<div th:replace="backend/fragments/navigation :: navigation"></div>

<div class="container">
    <ol class="breadcrumb">
        <li class="active">Jeopardy</li>
    </ol>

    <div class="list-group">
        <a th:each="game : ${games}"
           class="list-group-item list-group-item-action"
           th:text="${game.id}"
           th:href="@{|/backend/game/${game.id}|}"/>
    </div>

    <form action="/backend/game" method="post">
        <input type="submit" value="Create Game"/>
    </form>
</div>
</body>
</html>
