<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.1.1-1/jquery.min.js" defer="defer"></script>
    <script src="/webjars/tether/1.4.0/js/tether.min.js" defer="defer"></script>
    <script src="/webjars/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" defer="defer"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar-inverse bg-inverse navbar-fixed-top">
    <a class="navbar-brand" href="/backend">Jeopardy</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{|/backend/game/${game.id}|}">Game <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{|/backend/game/${game.id}/players|}">Players</a>
        </li>
    </ul>
</nav>

<div class="container">
    <h1 th:text="${game.id}"/>
    <form th:action="@{|/backend/game/${game.id}/player|}" method="post">
        <input type="text" name="player_name" required="required"/>
        <input type="color" name="player_color" required="required"/>
        <input type="submit" value="Add Player"/>
    </form>
    <ul>
        <li th:each="player : ${game.players}">
            <span th:text="${player.name}"/>
            <a th:href="@{|/backend/game/${player.id}|}">X</a>
        </li>
    </ul>
</div>

</body>
</html>
